#biapp {
  margin-left: -20px;
  #all_header {
    display: none !important;
  }
  .arrow {
    position: static !important;
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .Toastify__toast-container--top-right {
    top: calc(1em + 30px);
  }

  .main_content_dashboard {
    height: 100% !important;
  }
  #all_header .wrapper_header_logo {
    display: none !important;
  }

  aside.sidebar,
  .item_collap {
    display: none !important;
  }
  &.aesirxui .main_content.pd-t-80 {
    padding-top: 0;
  }
  &.aesirxui .content_header.h-80 {
    height: 60px;
  }
  .menu_intergration {
    display: none !important;
  }
  .bi-intergration_layout {
    .printButton {
      top: 35px;
    }
  }
}

#wpfooter {
  display: none;
}

#wpbody-content {
  padding-bottom: 0 !important;
}

.error,
.notice,
.updated {
  display: none;
}

#wpbody .update-nag {
  display: none;
}

body[class*='aesirx-bi'] .notice-bi {
  display: block !important;
}
.notice-bi {
  z-index: 99;
  position: relative;
  top: 60px;
}
#toplevel_page_aesirx-bi-dashboard .wp-submenu {
  display: none;
}
